:root {
    --primary-color: #1F4FAD;
    --secondary-color: #3A3791;
    --accent-color-1: #e08e23;
    --accent-color-2: #ef023c;
    --accent-color-3: rgb(90, 172, 124);
    --accent-transparent-1: rgb(224, 142, 35, 0.55);
    --accent-transparent-2: rgb(239, 2, 60, 0.55);
    --accent-transparent-3: rgb(90, 172, 124, 0.55);
    --font-dark: #0C0014;
    --font-light: #F8F1F6;
    --box-shadow: #F8F1F6CC;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, var(--accent-transparent-1), var(--accent-transparent-2)), url(../img/background.jpg);
    background-position: center;
    background-size: cover;
}

body {
    margin: 26px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.progress-bar {
    margin: 0.5rem 4rem;
}

.bar {
    width: 100%;
    height: 1.5rem;
    appearance: none;
    margin: 0;
    animation: 3s linear;
}

progress[value]::-webkit-progress-bar{
    background-color: var(--accent-transparent-1);
    border: solid 2px var(--accent-color-1);
    border-radius: 4rem;
}

progress[value]::-webkit-progress-value{
    background-color: var(--font-light);
    border-radius: 4rem;
}

.main-section {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
}

.pass-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pass-card>h3 {
    margin: 0;
    color: var(--font-light);
}

.card {
    height: 17rem;
    width: 11rem;
    border-radius: 0.5rem;
}

.big-card {
    height: 34rem;
    width: 22rem;
    border-radius: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons > button {
    height: 2.5rem;
    width: 8rem;
    background-color: var(--accent-color-2);
    border-radius: 30px;
    border: none;
    font-size: 16px;
    color: var(--font-light);
}

.buttons > button:hover {
    cursor: pointer;
    background-color: var(--accent-transparent-2);
    border: solid 1.5px var(--accent-transparent-1);
    box-shadow: 0 0 12px 0 var(--box-shadow);
}